<header style="overflow: hidden">
    <h4><a href="/home" style="float: left; padding: 14px 16px; text-decoration: none">Greeting Page</a></h4>
    <h4><a href="/" style="float: left; padding: 14px 16px; text-decoration: none">Show nonces</a></h4>
    <h4><a href="/refresh" style="float: left; padding: 14px 16px; text-decoration: none">Refresh nonces</a></h4>
    <h4><a href="/edit/publics" style="float: left; padding: 14px 16px; text-decoration: none">Edit publics</a></h4>
    <h4><a href="/edit/configs" style="float: left; padding: 14px 16px; text-decoration: none">Edit configs</a></h4>
    <h4><a href="/logout" style="float: left; padding: 14px 16px; text-decoration: none">Log Out</a></h4>
</header>
